@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;0,800;0,900;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
}

/* Main Parent Element */
body {
    min-height: 100%;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-image: url(../images/background.webp);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

:root {
    --sidebar: #ffffffb3;
    --content: rgba(255, 255, 255, 0.685);
    --darker: #999;
    --dark: #575757;
    --text: #000;
}

.darkmode {
    --sidebar: #222222b2;
    --content: rgba(0, 0, 0, 0.685);
    --darker: #525252;
    --dark: #ffffff;
    --text: #ffffff;
}

.container {
    position: relative;
    width: 100%;
}

#fixed-sidebar {
    position: fixed;
    width: 320px;
    height: 100%;
    background-color: var(--sidebar);
    border-left: 10px solid transparent;
    transition: .5s;
    overflow: hidden;
}

#fixed-sidebar ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

#fixed-sidebar ul li {
    position: relative;
    width: 100%;
    padding: 20px 0 20px;
    align-items: center;
    text-align: center;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

#fixed-sidebar ul li.hovered,
#fixed-sidebar ul li:hover {
    background-color: var(--dark);
    z-index: 999;
}

#fixed-sidebar ul li:nth-child(1) {
    margin-bottom: 40px;
    pointer-events: none;
}

#fixed-sidebar ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    color: var(--text);
}

#fixed-sidebar ul li.hovered a,
#fixed-sidebar ul li:hover a {
    color: var(--sidebar);
}

#fixed-sidebar ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
}

#fixed-sidebar ul li a ion-icon {
    font-size: 1.5em;
}

#fixed-sidebar ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
}

#fixed-sidebar ul li.hovered a::before,
#fixed-sidebar ul li:hover a::before {
    content: '';
    position: absolute;
    top: -50px;
    right: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: transparent;
    box-shadow: 25px 25px 0 10px var(--dark);
    pointer-events: none;
}

#fixed-sidebar ul li.hovered a::after,
#fixed-sidebar ul li:hover a::after {
    content: '';
    position: absolute;
    bottom: -50px;
    right: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: transparent;
    box-shadow: 25px -25px 0 10px var(--dark);
    pointer-events: none;
}

#content-area {
    position: absolute;
    width: calc(100% - 320px);
    height: 100vh;
    right:0;
    padding: 0px 15px 0 15px;
    transition: .5s;
    background-color: #525252bd;
    margin-right: 5x;
}

#content-area.active {
    width: calc(100% - 80px);
    margin-right: 5x;
}

#fixed-sidebar.active {
    width: 80px;
}

#content-area .navbar .user-box img {
    width: 60px;
    height: 60px;
}

.hidden{
    display:none ;
}

.navbar {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 50px;
    height: 50px;
    background-color: aliceblue;
    font-size: 1.5em;
    border-radius: 10px;
    cursor: pointer;
}

.toggle:hover {
    background-color: grey;
    color: white;
    transition: 0.5s;
}

.search-box {
    position: relative;
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 5px 0.5rem 5px 0.5rem;
    background-color: #fff;
    outline: none;
    border: none;
    border-radius: 30px;
    width: 50%;
    transition: .5s;
    font-size: 2rem;
}

.search-box input[type=text]{
    outline: none;
    border: none;
    height: 30px;
    width: 100%;
}

.search-btn {
    cursor: pointer;
}

.user-box {
    position: relative;
    width: 60px;
    height: 60px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 100%;
    margin:5px;
}

.menubar {
    width: 100%;
    display: flex;
    padding: 20px 20px;
    justify-content: flex-start;
    align-items: center;
    background-color: #ffffff7c;
    border-radius: 10px;
    color: #fff;
}

.menubar ul {
    display: flex;
    align-items: center;
    gap:5%;
    height: 50px;
    width: 100%;
    justify-content: center;
}

.menubar ul li {
    display: flex;
    align-items: center;
    width: 10em;
    height: 20px;

}

.menubar ul li a {
    color: white;
    text-align: center;
    align-items: center;
    width: 100%;
    background-color: #525252;
    padding: 25px 0 25px 0;
    border-radius: 12px;
}

.menubar ul li:hover a{
    background-color: cyan;
    color: black;
    transition: .5s;
}

.menubar ul li a .icon {
    width: 100%;
    align-items: center;
    text-align: center;
}

.dictionary-box {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 40vh;
    max-height: fit-content;
    backdrop-filter: blur(10px);
    margin-top: 20px;
    border-radius: 10px;
    gap: 10px;
    padding: 10px;
}

.dictionary-box .left-content {
    display: flex;
    width: 30%;
    gap: 10px;
    padding-left: 10px;
    justify-content: center;
    align-items: center;
    background-color: #525252;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.dictionary-box .left-content img {
    max-width: 90%;
    max-height: 90%;
    border-style: none;
}


.dictionary-box .right-content {
    width: 50%;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.dictionary-box .right-content .top-line {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
}

.dictionary-box .right-content .central-line {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dictionary-box .bottom-line p{
    margin-top: 15px;
}

.dictionary-box .right-content #audio {
    width: 200px;
}

.dictionary-box .right-content #audio audio {
    border-radius: 50px;
    background-color: #868686;
    width: 100%;
}

.central-line{
    width: 100%;
}

#audio{
    min-width: 100% ;
}


.dictionary-box .history {
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: #fff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px;
}

.dictionary-box .weather-box {
    display: flex;
    flex-direction: column;
    background-color: #525252;
    width: 50%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/*WEATHER*/

/*toggle-btn update by ROME*/
#toggle-switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    border-radius: 20px;
    background-color: #ddd;
    cursor: pointer;
  }
  
  #toggle-switch::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: white;
    transition: transform 0.2s ease-in-out;
  }
  
  #toggle-switch.on {
    background-color: #2196F3;
  }
  
  #toggle-switch.on::before {
    transform: translateX(20px);
  }
/*END of update*/
::selection{
  color: #fff;
  background: #43AFFC;
}
.wrapper{
  width: 100%;
  background: #fff;
  border-radius: 7px;
  box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.05);
  height: 100%;
}
.wrapper header{
    display: flex;
    justify-content: center;
  font-size: 20px;
  font-weight: 500;
  color: #000000;
  padding: 16px 15px;
  align-items: center;
  border-bottom: 1px solid #ccc;
}
/* header ion-icon{
  font-size: 1.5rem;
  cursor: pointer;
  margin-right: 10px;
} */

#back-icon{
    display: none;
}
#back-icon.active {
    display: block;
    font-size: 1.5rem;
    cursor: pointer;
    margin-right: 10px;
}

.wrapper.active header i{
  margin-left: 5px;
  font-size: 30px;
}
.wrapper .input-part{
  margin: 20px 25px 30px;
}

.weather-box .wrapper .content input {
    border-radius: 30px;
}

.wrapper.active .input-part{
  display: none;
}
.input-part .info-txt{
  display: none;
  font-size: 17px;
  text-align: center;
  padding: 12px 10px;
  border-radius: 7px;
  margin-bottom: 15px;
}
.input-part .info-txt.error{
  color: #721c24;
  display: block;
  background: #f8d7da;
  border: 1px solid #f5c6cb;
}
.input-part .info-txt.pending{
  color: #0c5460;
  display: block;
  background: #d1ecf1;
  border: 1px solid #bee5eb;
}
.input-part :where(input, button){
  width: 100%;
  height: 55px;
  border: none;
  outline: none;
  font-size: 18px;
  border-radius: 7px;
}
.input-part input{
  text-align: center;
  padding: 0 15px;
  border: 1px solid #ccc;
}
.input-part input:is(:focus, :valid){
  border: 2px solid #43AFFC;
}
.input-part input::placeholder{
  color: #bfbfbf;
}
.input-part .separator{
  height: 1px;
  width: 100%;
  margin: 25px 0;
  background: #ccc;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.separator::before{
  content: "or";
  color: #b3b3b3;
  font-size: 19px;
  padding: 0 15px;
  background: #fff;
}
.input-part button{
  color: #fff;
  cursor: pointer;
  background: #43AFFC;
  transition: 0.3s ease;
}
.input-part button:hover{
  background: #1d9ffc;
}

.wrapper .weather-part{
  display: none;
  margin: 15px 0 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.wrapper.active .weather-part{
  display: flex;
}
.weather-part img{
  max-width: 125px;
}
.weather-part .temp{
  display: flex;
  font-weight: 500;
  font-size: 72px;
}
.weather-part .temp .numb{
  font-weight: 600;
}
.weather-part .temp .deg{
  font-size: 40px;
  display: block;
  margin: 10px 5px 0 0;
}
.weather-part .weather{
  font-size: 21px;
  text-align: center;
  margin: -5px 20px 15px;
}
.weather-part .location{
  display: flex;
  font-size: 19px;
  padding: 0 20px;
  text-align: center;
  margin-bottom: 5px;
  align-items: flex-start;
}
.location ion-icon{
  font-size: 20px;
  margin: 5px 5px 0 0;
}
.weather-part .bottom-details{
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-top: 1px solid #ccc;
}
.bottom-details .column{
  display: flex;
  width: 100%;
  padding: 15px 0;
  align-items: center;
  justify-content: center;
}
.column ion-icon{
  color: #000000;
  font-size: 20px;
}
.column.humidity{
  border-left: 1px solid #ccc;
}
.column .details{
  margin-left: 3px;
}
.details .temp, .humidity span{
  font-size: 18px;
  font-weight: 500;
  margin-top: -3px;
}
.details .temp .deg{
  margin: 0;
  font-size: 17px;
  padding: 0 2px 0 1px;
}
.column .details p{
  font-size: 14px;
  margin-top: -6px;
}
.humidity i{
  font-size: 37px;
}

/* END OF WEATHER  */

#footer-area {
    margin-top: 10px;
    width: 100%;
    height: fit-content;
    background-color: #fff;
    border-radius: 10px;
}

#footer-area .flex-container{

    display: flex ;
    flex-direction: row;
    justify-content: space-between;

    }
    
    /* #footer-area .flex-container .flex_box{
    height: auto;
    width: 100%;
    gap: 2rem;
    padding: 1rem 3rem;
    text-align: center;
    font-size: 0.9rem;}
    
    #footer-area .flex-container .flex_box h2{
        font-size: 100%;
        font-weight: 500;
    }

    #footer-area .flex-container .flex_box img{
        height: 4rem;
        width: auto;
    }
    
    #footer-area .flex-container .flex_box ul li{
       font-size: 80%;
    }
    #footer-area .flex-container .flex_box .flex_button{
        border: 0.2px solid black;
        background-color: rgb(172, 168, 168);
        margin-top: 0.5rem;
        display: inline-block;
        font-size: .75rem;
         border-radius: 0.5rem;
         padding: 0.1rem;
        color: black;
        cursor: pointer;
        align-items: left;
    }
    
    #footer-area .flex-container .flex_box .flex_button:hover{
        background-color: green;
        color: white;
    }
    
    #footer-area .flex-container .icons{
    font-size: 1.3rem;
    padding-right: 0.3rem;
    
    } */

   .container .footer_copyright{
        position: absolute;
        bottom: 0px;
        width: 100%;
        background-color: rgb(172, 168, 168);
        text-align: center;
        justify-content: center;
        padding: 30px;
    }
    
    .container .footer_copyright p{
        font-weight: 600;
        font-size: 12px;
        font-style: italic;
    }

    .footer_copyright_hidden{
        display: none;
    }
    /* #footer-area .flex-container .flex_box .placeholder{
        position: flex;
        flex-direction: column;
        padding-top: 2rem;
        text-align: center;
        font-size: 0.8rem;
        padding: 0;
    }
    
      #footer-area .flex-container .flex_box .placeholder input[type="email"] {
        flex-grow: 1;
        padding: 10px;
        margin: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 0.8rem;
      }

      #footer-area .flex-container .flex_box .placeholder button[type="submit"] {
        background-color: #4CAF50;
        color: white;
        border: none;
        padding: 5px 10px;
        margin: 5px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 0.8rem;
      }
    
      #footer-area .flex-container .flex_box .placeholder button[type="submit"]:hover {
        background-color: #3e8e41;
      } */


@media only screen and (max-width: 1080px){
    #content-area {
        flex-direction: column;
        height: fit-content;
    }

    .dictionary-box {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: fit-content;

    }

    .dictionary-box .left-content {
        width: 100%;
    }

    .dictionary-box .left-content .image-box #image {
        padding: 10px;
    }

    .dictionary-box .left-content .image-box p{
        display: flex;
        justify-content: center;
    }

    .dictionary-box .right-content {
        flex-direction: column;
        height: 100%;
        align-items: center;
        width: 100%;
    }

    .dictionary-box .history {
        width: 100%;
    }

    .dictionary-box .weather-box {
        width: 100%;
        height: 100%;
    }

    .wrapper header {
        color: #000;
    }

    .wrapper .weather-part {
        margin-top: 10px;
    }

    .weather-part img{
        width: 70px;
    }

    .weather-part .temp{
        font-size: 45px;
        display: flex;
    }

    .weather-part .temp .deg {
        margin: 0;
    }
    
    .weather-part .location{
        font-size: 40px;
        padding: 0;
        margin: 0;
    }

    .location ion-icon{
        font-size: 30px;
    }

    .bottom-details .column {
        padding: 12px 0;
    }

    .details .temp {
        font-size: 20px;
    }

    .humidity span {
        font-size: 20px;
    }

    .history ul{
        top: 0;
        position: relative;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
            
    }
}

@media only screen and (max-width: 1000px){
        #footer-area .flex-container{
            flex-direction: column;
        }
}

@media only screen and (max-width: 800px) {

    body{
        min-height: 100%;
    }
    #fixed-sidebar {
        margin-left: -350px;
    }

    #fixed-sidebar.active {
        margin-left: 0;
        width: 85%;
        transition: .5s;
    }   

    #content-area {
        width: 100%;
        height: fit-content;
        display: flex;
        align-items: center;
        padding-top:30px;
        transition: .2s;
        
    }

    #content-area.active {

        transition: all .2s;
        max-width: calc(100% - 85%);
        gap: 10px;
        position: fixed;
    }

    #content-area.active .navbar {
        width: fit-content;
    }
    


    #content-area.active .search-box,#content-area.active .user-box {
        display: none;
    }

    #content-area.active .menubar {
        width: fit-content;
        padding: 5px;
        margin-top: 5px;
        
    }

    #content-area.active .toggle {
        font-size: 20px;
    }

    #content-area.active .menubar ul li {
        display: flex;
        width: fit-content;
        align-items: center;
        justify-content: center;
    }

    #content-area.active .menubar ul {
        display: flex;
        flex-direction: column;
        gap: 30px;
        height: fit-content;
        padding: 10px 0 10px;
    }

    #content-area.active .menubar ul li a {
        height: fit-content;
        max-width: max-content;
        padding: 10px 5px 10px 5px;
    }
    #content-area.active .menubar ul li a .title {
        display: none;
    }

    #content-area.active .menubar ul li a .icon {
        text-align: center;
        font-size: 15px;
        padding: 10px;
    }

    #content-area.active .dictionary-box,
    #content-area.active #footer-area {
        visibility: hidden;
    }
    
    .menubar{
        font-size: 90%;
    }

    .menubar ul li a:hover{
        background-color: rgb(2, 44, 2);
        color: #fff;

    }

    .menubar ul li a span{
        color: white;
    }

    #footer-area{
        height: 27rem;
        padding-top: 2rem;
        
    }

    #footer-area .flex-container .flex_box{
     
        padding: 0.5rem;
    }

    .dictionary-box .right-content {
        width: 100%;
    }

    .dictionary-box .history{
        width: 100%;
        border-radius: 0.5rem;
    }
    
    .left-content , .right-content{
        border-radius: 10px;
    }
    
    .dictionary-box .left-content .image-box p{
        color: white;
    }

    #footer-area .footer_copyright{
        margin: 0;
    }

    #footer-area .footer_copyright p{
        font-size: 12px;
    }
    
    .footer_copyright_hidden{
        display: flex;
    }

}


@media only screen and (max-width: 550px) {

    .menubar {
        font-size: 90%;
    }
}



@media only screen and (max-width: 510px) {
    .menubar{
        font-size: 85%;
    }
}

@media only screen and (max-width: 480px) {
    .menubar{
        font-size: 80%;
    }
}
@media only screen and (max-width: 420px) {
    .menubar{
            font-size: 75%;
        }
    }
    @media only screen and (max-width: 400px) {
        
        .menubar{
            font-size: 70%;
        }    
    }
    @media only screen and (max-width: 375px){
        #content-area {
            padding-bottom: 37px;
        }
        .menubar {
            font-size: 11px;
        }
        .image-box{
            padding-top: 10px;
        max-width: 100%;
        }
    }
    
    @media only screen and (max-width: 370px) {
        .menubar{
            font-size: 65%;
        }    
}

@media only screen and (max-width: 345px) {
        
    .menubar{
        font-size: 60%;
    }    
}