<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://kit.fontawesome.com/6b203b1712.js" crossorigin="anonymous"></script>
    <title>ES Dictionary - Login</title>
</head>
<body>
    <div class="container">
        <div class="overlay"></div>
        <div class="login-form">
            <div class="left-col">

                <div class="avatar">
                    <img src="images/profile.svg" alt="avatar" />
                    <h1> LOGIN</h1>
                </div>
                <div class="placeholder">
                <form action="#" method="post">
                    <input type="text" name="user" id="username" placeholder="username" required>
                    <input type="password" name="pass" id="password" placeholder="•••••••••••" required>
                    <div class="login">
                        <input type="submit" value="Login">
                    </div>
                </form>
            </div>

                <div class="links-container">
                    <ul class="form-links">
                        <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-microsoft"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="right-col">
                <img src="images/ES-Book.svg" alt="es-book image" />
            </div>

        </div>

        <div class="footer">
            <span>ES-Dictionary 2023 v.1 &copy; GP2</span>
        </div>
    </div>
</body>
</html>