<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://kit.fontawesome.com/6b203b1712.js" crossorigin="anonymous"></script>
    <title>ES - Register</title>
</head>

<body>
    <div class="container">
        <div class="registration-form">
            <div class="left-col">

                <h1>Register</h1>
                <div class="divider"></div>
                <form action="#" method="post">
                    <div class="top-col">
                        <div class="row-box">
                            <label>Full name</label>
                            <input type="text" name="fname" id="fname">
                        </div>
                        <div class="row-box">
                            <label>Username</label>
                            <input type="text" name="uname" id="uname">
                        </div>
                        <div class="row-box">
                            <label>Email</label>
                            <input type="email" name="email" id="email">
                        </div>
                        <div class="row-box">
                            <label>Phone number</label>
                            <input type="tel" name="tel" id="tel">
                        </div>

                        <div class="row-box">
                            <label>Password</label>
                            <input type="password" name="pass" id="pass">
                        </div>
                        <div class="row-box">
                            <label>Confirm Password</label>
                            <input type="password" name="cpass" id="pass">
                        </div>
                    </div>
                    <div class="bottom-col">
                        <label> Gender </label>
                        <div class="gender-box">
                            <span>
                                <label for="male"> Male </label>
                                <input type="radio" name="male" id="male">
                            </span>
                            <span>
                                <label for="female">Female</label>
                                <input type="radio" name="female" id="female">
                            </span>
                        </div>
                        <div class="register_submit">
                        <input type="submit" value="Register" class="register">
                        </div>
                    </div>
                </form>

            </div>
            <div class="right-col">
                <img src="images/Register.svg" alt="register picture">
            </div>
        </div>
    </div>
</body>

</html>